<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liveperson.hackathon.jobview.jobview">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PersonalDetailsActivity"
            android:label="Personal Data"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.BaseDrawerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.GuidanceActivity"
            android:label="@string/title_activity_guidance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SingleQuestionActivity"
            android:label="@string/title_activity_single_question"
            android:parentActivityName=".ui.BaseDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveperson.hackathon.jobview.jobview.ui.BaseDrawerActivity" />
        </activity>
        <activity
            android:name=".ui.TrainingActivity"
            android:label="@string/title_activity_training"
            android:parentActivityName=".ui.BaseDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveperson.hackathon.jobview.jobview.ui.BaseDrawerActivity" />
        </activity>
        <activity
            android:name=".ui.AudioRecordingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.VideoRecordingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.RecordingButtonsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.VideoViewActivity"
            android:label="@string/title_activity_video_view"
            android:parentActivityName=".ui.BaseDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveperson.hackathon.jobview.jobview.ui.BaseDrawerActivity" />
        </activity>
    </application>

</manifest>